<div class="header-body">
  <div class="menu">
   <p><%= link_to "Logo Here", index_activity_path  %></p>
   <p><%= link_to "Home", index_activity_path  %></p>
    <p>Profile</p>
    <p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
  </div>
</div>