:root {
  margin: 0;
  padding: 0;
}
.header-body {

  background-color: var(--item-bar-color);
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
}
.menu {
  display: flex;
  justify-content: space-around;
  color: var(--primary-color);
}

